@media only screen and (max-width: 600px) {
	.logo {
		width: 45px;
		height: 16px;
		object-fit: contain;
		float: left;
		top: 20px;
		left: 30px;
		position: relative;
	}
	.countFound {
		margin-top: 45px;
		position: absolute;
		right: 70px;
		visibility: hidden;
	}

	.headerGallery {
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: rgba(255, 255, 255, .5);
	}

	.searchGroup {
		position: absolute;
		top: 10px;
		left: 140px;
	}

	.iconDandruff {
		width: 15px;
		height: 15px;
		object-fit: contain;
	}

	.Search-Gallery {
		height: 29px;
		font-family: Lato;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		margin-left: 10px;
		color: #20303c;
		word-wrap: break-word;
		min-width: 30px !important;
		max-width: 90px !important;
		transition: width 0.25s;
		text-align: center;
		border: none;
		background-color: rgba(255, 255, 255, 0);
	}
}