.photoContener {
	position: absolute;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 100px;
}

.masonry {
	column-count: 1;
	-webkit-column-width: 60px; /* Chrome, Safari, Opera */
	-moz-column-width: 60px; /* Firefox */
	column-width: 60px;
}
@media (min-width: 400px) {
	.masonry {
		column-count: 2;
		-webkit-column-width: 60px; /* Chrome, Safari, Opera */
		-moz-column-width: 60px; /* Firefox */
		column-width: 60px;
	}
}
@media (min-width: 1200px) {
	.masonry {
		column-count: 4;
		-webkit-column-width: 40px; /* Chrome, Safari, Opera */
		-moz-column-width: 40px; /* Firefox */
		column-width: 40px;
	}
}


.item {
	break-inside: avoid;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

.item img{
	width: 100%;
}


