body {
	margin: 0 !important;
	padding: 0 !important;
}

.iconDandruff {
	width: 21px;
	height: 21px;
	object-fit: contain;
}

.Search-Gallery {
	height: 29px;
	font-family: Lato;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-left: 10px;
	color: #20303c;
	word-wrap: break-word;
	min-width: 100px !important;
	max-width: 500px !important;
	transition: width 0.25s;
	text-align: center;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

.searchGroup {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.searchGroupParent {
	position: relative;
}

.text {
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #20303c;
	margin-left: 10px;
}

.result {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #20303c;
	margin-left: 10px;
}

.countFound {
	margin-top: 45px;
	position: absolute;
	right: 70px;
	visibility: visible;
}

.logo {
	width: 85px;
	height: 26px;
	object-fit: contain;
	float: left;
	top: 40px;
	left: 70px;
	position: relative;
}

.headerGallery {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, .5);
}

.infoInGallery{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
}
.galleryRoot{
	width: 100%;
	height: 100%;
	position: relative;
}