.Bitmap {
	position: absolute;
	width: 85px;
	height: 36px;
	object-fit: contain;
	top: 20px;
}

.Type-to-Search {
	width: 321px;
	height: 60px;
	opacity: 0.3;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #20303c;
	float: left;
	position:absolute;
	margin-top: 2px;
	margin-left: 20px;
}

.Line {
	width: 1px;
	height: 66px;
	border: solid 1px #20303c;
	background: #20303c;
	float: left;
	margin-left: 100px;
}

.header{
	position: absolute;
	display: flex;
	left: 30%;
	top: 40%;
}




