.OOPS_info {
	width: 801px;
	height: 345px;
	opacity: 0.05;
	font-family: Lato;
	font-size: 288px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #20303c;
	margin: 0;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.No-Result-for_info {
	width: 100%;
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #20303c;
}

.Try-another-word_info {
	width: 100%;
	height: 18px;
	font-family: LucidaGrande;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #20303c;
}

.result_info {
	width: 100%;
	font-family: Lato;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #20303c;
}

.infoMain{
	height: 100%;
	width: 100%;
	position: relative;
}
.info{
	text-align: center;
	margin: 0;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}